/* 表頭區塊 */
.header{
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
  h1 a {
    display: block;
    width: 120px;
    height: $font-size-300;
    background: url(../assets/logo_w@svg.svg ) no-repeat;
    margin: 16px 48px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    @include mobile{
        margin:16px 20px;
    }
  }
}
/* 表頭選單 */

.menu {
    display:flex;
    padding-right:30px;
    @include mobile{
        max-height:0px;
        overflow:hidden;
        transition:max-height 0.8s;
        position:absolute;
        z-index:99;
        top:57px;
        left:0;
        right:0;
        background:black;
        border-top:1px solid rgba(255,255,255,0.35);
        flex-direction:column;
        padding:0;
        li{
            width:100%;
        }
        
    }
    a{
        display: block;
        color: #fff;
        padding: 18px;
        transition:all 0.3s;
        &:hover{
            background: #FAFAFA;
            color: #000;
        }
        @include mobile{
            text-align:center;
            border-bottom:1px solid rgba(255,255,255,0.35);
        }
    }
}
.showmenu{
    display:none;
    color:white;
    padding:18px;
    transition:all 0.3s;
    &:hover{
        color:orange;
    }
    @include mobile{
        display:block;
    }

}
@media (max-width:560px){
    .menu-show .menu{
        max-height:159px;
      }
}
/* 橫幅區塊 */
.banner{
  background: center url(../assets/header_desktop.png);
  background-repeat:no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
  .banner-content{
    background:rgba(0, 0, 0, 0.4);
    color:white;
    text-align:center;
    line-height:1.5em;
    padding:28px 42px;
   h2{
       font-size:$font-size-400;
       line-height :1.2em;
       padding-bottom:20px;
       span{
           @include mobile{
              display:block;
           }
       }
   }
   p{
       font-size:$font-size-100;
       ;
   }
  }
}
/* 表尾區塊 */
.footer{
  background:$color-primary-light;
  color:$color-primary;
  padding:43px 50px;
  display:flex;
  line-height:1.3;
  @include pad{
    flex-direction:column;
    padding:15px 5px 5px 5px; 
  }
  @include mobile{
    flex-direction:column;
    align-items:center;
  }
  .imformation, .contact, .logo{
      width:31.33333%;
      @include pad{
          width:100%;
          padding:15px 0;
      }
  }
  h2{
      font-size: $font-size-300;
      padding-bottom:16px;
  }
  .contact ul li{
      list-style:disc;
      margin-left:24px;
      a{
          color:$color-primary;
          transition:0.3s ease;
          &:hover{
              opacity:0.6;
          }
      }
  }
  .logo{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-end;
    @include pad{
      justify-content:flex-end;
    }
    .hex{
        display:block;
        text-indent:101%;
        white-space:nowrap;
        overflow:hidden;
        width:243px;
        height:48px;
        background: url(/assets/logo.svg) no-repeat;
        padding:0;
    }
  }
  .social{
      display:flex;
      a{
        font-size:$font-size-400;
        margin-left:12px;
    }
    .google{
        color:#db4437;
    }
    .tw{
        color:#41abe1;
    }
    .fb{
        color:#3a5795;
    }
  }
  
}