$color-primary:#3d1101;
$color-primary-light:#efe9E7;
$color-secondary:#ff5e45;

$font-size-100:16px;
$font-size-200:20px;
$font-size-300:24px;
$font-size-400:40px;
$font-size-500:44px;
$font-size-600:48px;
$font-size-700:52px;
$font-size-800:56px;